{{>header}}
<main role="main" class="container">
    <h1 class="mt-5 text-center">Edici칩n de cursos</h1>
    <p class="lead text-center">En esta p치gina podr치s editar los cursos existentes</p>
    <hr />
    <form action="/course/editStatus" method="post">
        <input type="hidden" id="id" name="id" value="{{id}}">
        <div class="form-row">
            <div class="col">
                <div class="form-group">
                    <label for="name">Nombre</label>
                    <input type="text" class="form-control" id="name" name="name" aria-describedby="nameHelp" placeholder="Nombre completo" required value="{{name}}">
                    <small id="nameHelp" class="form-text text-muted">* Debe diligenciar nombre completo del curso</small>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="value">Valor Curso</label>
                    <input type="number" class="form-control" id="value" name="value" aria-describedby="valueHelp" placeholder="Costo del curso" value="{{value}}" required>
                    <small id="valueHelp" class="form-text text-muted">* El valor del curso se representa en COP</small>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col">
                <div class="form-group">
                    <label for="modalidad">Modalidad del curso</label>
                    <select id="modality" name="modality" class="form-control" required>
                        {{{leerModalidades modality}}}
                    </select>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="estado">Estado del curso</label>
                    <select id="status" name="status" class="form-control">
                        {{{leerEstados status}}}
                    </select>
                </div>
            </div>
        </div>
         <div class="form-group">
            <label for="descripcion">Descripci칩n del curso</label>
            <textarea class="form-control" id="description" name="description" estadorows="3" required>{{description}}</textarea>
        </div>
        <button type="submit" class="btn btn-primary btn-lg btn-block">Modificar</button>
    </form>
    <hr><br><br>
</main>
{{>footer}}